body{
    background-color: #f0f0f0;
}

.admin-content{
    width: 100%;
    height: 85vh;
    background: linear-gradient(45deg, #f0f0f0, #cacaca);
}

table{
    width: 165%;
    text-align: center;
}

th{
    border-bottom: solid 1px #fff;
}

.btn-Article{
    margin-left: 2%;
    margin-top: 1%;
}