h1{
    text-align: center;
    margin-top: 2%;
}

.main-cont{
    min-height: 78vh;

    margin-top: 2%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

hr{
    border: none;
    border-top: 2px solid #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
}

.categories{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
}

.article1{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
}
