* {
    box-sizing: border-box;
}
.main {
    display: grid;
    place-items: center;
    background-color: #95999c;
    padding-top: 2rem;
}
.card {
    width: 70%;
}
.commentaires {
    margin: 2rem 0;
    width: 70%;
    display: grid;
    place-items: center;
}
.post {
    width: 70%;
    display: grid;
    place-items: center;
    margin-bottom: 3rem;
    justify-self: center;
}
.post form {
    display: grid;
    width: 100%;
}
