* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.main {
    display: grid;
    place-items: center;
    background-color: white;
    padding-top: 2rem;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    background-image: url("../images/bg.png");
    background-size: cover;
}
.main form {
    width: 70%;
}
.card {
    width: 100%;
}
.postarticle{
    width: 70%;
    padding: 0 2rem;
}
.postarticle h5 {
    margin-bottom: 3rem;
}
h5 {
    font-family: 'Amatic SC', cursive;
    margin-top: 2rem;
}
.commentaires {
    margin: 2rem 0;
    width: 70%;
    display: grid;
    place-items: center;
}
.commentaires .card {
    padding: 0 1rem;
}
.post{
    width: 70%;
    display: grid;
    place-items: center;
    margin-bottom: 3rem;
    justify-self: center;
}
.post form {
    display: grid;
    width: 100%;
}
.card .creer {
    width: 100%;
    display: grid;
    place-items: center;
    margin-bottom: 3rem;
    justify-self: center;
}
.creer .card-body select {
    margin-bottom: 1rem;
    width: 100%;
}
input[type="submit"] {
    width: 100%;
    padding: 0 2rem;
    font-family: 'Amatic SC', cursive;
    font-size: large;
}
