@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

body{
    font-family: 'Raleway', sans-serif;
    background-image: url("../images/bg.png");
    background-size: cover;
}

.main-cont{
    color: black;
    margin-top: 2%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 13vh 13vh 13vh 13vh 13vh 13vh;
}

.item1{

    text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);
    font-family: 'Amatic SC', cursive;
    justify-self: center;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 1;
}

.item2{
    text-align: center;
    border-radius: 10px;
    background: #ffffff;
    box-shadow:  24px 24px 48px #b8b8b8, -24px -24px 48px #ffffff;
    justify-self: center;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 6;
    padding-left: 1%;
    padding-right: 1%;
    margin-right: 12%;

}
.item2 h2{
    font-family: 'Amatic SC', cursive;
}

iframe{
    width: 414px;
    height: 264px;
}

.item3{
    border-radius: 10px;
    background: #ffffff;
    box-shadow:  24px 24px 48px #b8b8b8, -24px -24px 48px #ffffff;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 5;
    margin-bottom: 10%;
    margin-right: 30%;
    padding-left: 3%;
    padding-right: 3%;
}

.item3 h2{
    font-family: 'Amatic SC', cursive;
}

.item4{
    text-align: center;
    border-radius: 10px;
    background: #ffffff;
    box-shadow:  24px 24px 48px #b8b8b8, -24px -24px 48px #ffffff;
    padding-left: 3%;
    margin-right: 30%;
    align-self: center;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 5;
}

.item4 a,
.item3 a{
    transition: 0.5s;
    color: black;
    text-decoration: none;
}

.item4 a:hover,
.item3 a:hover{
    color: #557d9f;
}

.item4 h2{
    font-family: 'Amatic SC', cursive;
}

.item5{
    text-align: center;
    border-radius: 10px;
    background: #ffffff;
    box-shadow:  24px 24px 48px #b8b8b8, -24px -24px 48px #ffffff;
    padding-left: 2%;
    padding-right: 2%;
    justify-self: center;
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 5;
    margin-bottom: 20%;
}

.item5 h2{
    font-family: 'Amatic SC', cursive;
}

.item6{
    border-radius: 10px;
    background: #ffffff;
    box-shadow:  24px 24px 48px #b8b8b8, -24px -24px 48px #ffffff;
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 23%;
    justify-self: center;
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 7;
}

.item6 h2{
    font-family: 'Amatic SC', cursive;
}

.icones{
    text-align: center;
    font-size: 50px;
}

.fab{
    transition: 0.5s;
    color: black;
    text-decoration: none;
}

.fab:hover{
    color: #557d9f;
}

img{
    height: 10%;
    width: 10%;
}

.btn-grad{
    margin-top: 10%;
    border: solid black 2px;
    border-radius: 10px;
    transition: 0.5s;
    background-color: black;
    font-weight: bold;
    color: white;
    padding: 1%;
}


.btn-grad:hover{
    border: solid black 2px;
    color: white;
    background-color: #557d9f;
    font-weight: bold;
}

.alert-css{
    margin-top: 3%;
}