body{
    height: 100%;
    background-image: url("../images/inscription-bg.svg");
}

.registration__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #2f7fad;
    width: 100vh;
    height: 70vh;
    margin-left: 0;
    margin-top: 5%;
}

